{% liquid

  assign sample = false

  if page.url == '/'
    assign is_open = 'false'
    assign hidden = 'false'
    assign active = ''
  else
    assign is_open = 'true'
    assign hidden = 'true'
    assign active = 'drawer-active'
  endif

  assign in_rules = false

  if page.url contains '/rules'
    unless page.url contains '/usage'
      assign in_rules = true
    endunless
  endif
%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Æsthetic | {{ title }}
    </title>
    <meta charset="UTF-8">
    <meta
      content="IE=edge"
      http-equiv="X-UA-Compatible">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com"
      rel="preconnect">
    <link
      href="https://fonts.gstatic.com"
      crossorigin
      rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet">
    <link
      href="{{'/style.css' | url }}"
      rel="stylesheet">

    <script src="{{'/assets/esthetic.min.js' | url }}"></script>
    <script src="{{'/assets/bundle.min.js' | url }}"></script>

  </head>
  <body class="{% if page.url contains '/playground/' %}no-font-smoothing{% endif%}">

    {% if page.url == '/' %}

      {% include 'landing' %}

    {% else %}

      {% include 'navbar' %}

      {% unless page.url == '/playground/' %}

        <main
          id="main"
          class="container-fluid {% if in_rules %}content-rules{% endif %}">

          <div
            class="row"
            {% unless in_rules %}
              data-controller="scrollspy"
              data-scrollspy-active-class="fc-pink"
            {% endunless %}>

            <div class="col-auto px-0">
              {% if in_rules %}
                {% include 'sidebar', links: rules, type: 'rules' %}
              {% else %}
                {% include 'sidebar', links: main, type: 'main' %}
              {% endif %}
            </div>

            <div class="col p-5 content">

              <div class="d-block">
                {% include 'breadcrumbs' %}
              </div>

              {{ content }}

              {% if page.url == '/usage/format/' %}
                {% svg 'process', 'icon-process' %}
              {% endif %}

              {% include 'navigators' %}

            </div>

            {% unless in_rules and page.url != '/rules/' %}
              <div class="col-auto px-4">
                {% include 'anchors' %}
              </div>
            {% endunless %}

          </div>

        </main>

      {% else %}

        {% include 'playground' %}

      {% endunless %}

    {% endif %}

    {% svgsprite %}

  </body>
</html>