{% liquid

  assign sample = false

  if page.url == '/'
    assign is_open = 'false'
    assign hidden = 'false'
    assign active = ''
  else
    assign is_open = 'true'
    assign hidden = 'true'
    assign active = 'drawer-active'
  endif

  assign in_rules = false

  if page.url contains '/rules'
    unless page.url contains '/usage'
      assign in_rules = true
    endunless
  endif
%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Æsthetic | {{ title }}
    </title>
    <meta charset="UTF-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="{{'/style.css' | url }}"
      rel="stylesheet">
    <script src="{{'/bundle.min.js' | url }}"></script>
  </head>
  <body>


    {%- if page.url == '/' -%}

      {% include 'landing' %}

    {%- elsif page.url == '/playground/' -%}

      {% include 'playground' %}

    {% else %}

      {% include 'navbar' %}

      <main
        id="main"
        class="container-fluid">
        <div
          class="row"
          data-controller="scrollspy"
          data-scrollspy-active-class="fc-pink">

          <div class="col-auto px-0">
            {% if in_rules %}

              {% include 'sidebar', links: rules, type: 'rules' %}

            {% else %}

              {%- include 'sidebar', links: main, type: 'main' %}

            {% endif %}
          </div>

          <div class="col px-5 py-5">

            <div class="d-block">
              {% include 'breadcrumbs' %}
            </div>

            <div class="px-5">
              {{ content }}
            </div>


            {% for link in collections.all %}
              {% if link.url == page.url %}

                {% if link.data.prev and link.data.next %}
                  <div class="row jc-between mt-5 px-5 navigators">
                    <div class="col-auto">
                      <a
                        class="btn"
                        href="{{ link.data.prev.uri }}">
                        {% # esthetic-ignore-next %}
                        <span>←</span>
                        {{ link.data.prev.label }}
                      </a>
                    </div>
                    <div class="col-auto">
                      <a
                        class="btn"
                        href="{{ link.data.next.uri }}">
                        {{ link.data.next.label }}
                        {% # esthetic-ignore-next %}
                        <span>→</span>
                      </a>
                    </div>
                  </div>
                {%- endif -%}
              {%- endif -%}
            {% endfor %}

          </div>
          <div class="col-auto px-4">
            {% include 'anchors' %}
          </div>


        </div>
      </main>

    {%- endif -%}

    {% svgsprite %}

  </body>
</html>
