<nav
  class="anchors mt-5 pt-5 mb-2 pl-4 bl pb-3"
  data-controller="sticky"
  data-sticky-offset-value="20">

  {% for link in collections.all %}

    {% if page.url == '/rules/' %}

      <h6 class="mt-0 mb-4">
        Rules
      </h6>

      <ul class="mt-3 mb-4">
        {% for anchor in link.data.describe %}
          <li>
            <a
              href="#{{ anchor | slugify }}"
              data-scrollspy-target="anchor">
              {{ anchor }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <h6 class="mt-0 mb-2">
        Liquid
      </h6>

      <ul class="mt-1 mb-4">
        {% assign links = 'Extended Behaviour, Dynamic Determination, Ruleset' | split: ',' %}
        {% for anchor in links %}
          <li>
            <a
              href="#{{ anchor | slugify }}"
              data-scrollspy-target="anchor">
              {{ anchor }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <h6 class="mt-0 mb-4">
        Markup
      </h6>

      <ul class="mt-3 mb-2">
        {% for anchor in link.data.describe %}
          <li>
            <a
              href="#{{ anchor | slugify }}"
              data-scrollspy-target="anchor">
              {{ anchor }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% break %}

    {% elsif link.url == page.url %}

      {% if link.data.describe %}

        <h6 class="mt-0 mb-4">
          Describe
        </h6>

        <ul class="mt-3 mb-2">
          {% for anchor in link.data.describe %}
            <li>
              <a
                href="#{{ anchor | slugify }}"
                data-scrollspy-target="anchor">
                {{ anchor }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% if link.data.examples %}

        <h6 class="my-4">
          Examples
        </h6>

        <ul class="mt-3 mb-2">
          {% for anchor in link.data.examples %}
            <li>
              <a
                href="#{{ anchor | slugify }}"
                data-scrollspy-target="anchor">
                {{ anchor }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% if link.data.options %}

        <h6 class="my-4">
          Options
        </h6>

        <ul class="mt-3 mb-2">
          {% for anchor in link.data.options %}
            <li>
              <a
                href="#{{ anchor | slugify }}"
                data-scrollspy-target="anchor">
                {{ anchor }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% if link.data.anchors %}

        <ul class="mt-3 mb-2">
          {% for anchor in link.data.anchors %}
            <li>
              <a
                href="#{{ anchor | slugify }}"
                data-scrollspy-target="anchor">
                {{ anchor }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% if link.data.files %}

        <h6 class="my-4">
          Files
        </h6>

        <ul class="mt-3 mb-2">
          {% for anchor in link.data.files %}
            <li>
              <a
                href="#{{ anchor | slugify }}"
                data-scrollspy-target="anchor">
                {{ anchor }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% break %}

    {% endif %}
  {% endfor %}

</nav>